user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

stream {

    {{range ls "/services/networks"}}
        {{$network := getv (printf "/services/networks/%s" (.))}}
        {{$port := index (split $network ":") 1}}
        {{$hosts := printf "/services/%s/*" (.)}}

        upstream {{.}} {
            {{range gets $hosts}}
                server {{.Value}}:{{$port}};
            {{else}}
                # Don't let nginx fail to reload if upstream servers aren't present - this will gracefully fail
                server localhost:{{$port}};
            {{end}}
        }

        server {
            listen {{$port}};
            proxy_pass {{.}};
        }
    {{end}}
}
